@font-face {
  font-family: ExampleFont;
  src: url(../assets/fonts/aleo-regular.woff) format('woff'), url(../assets/fonts/aleo-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: ExampleFont;
  src: url(../assets/fonts/aleo-bold.woff) format('woff'), url(../assets/fonts/aleo-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
