@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */
*, *:before, *:after {
  /* stylelint-enable */
  box-sizing: inherit;
}

.hide {
  display: none;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-size: 1.6rem;
  font-family: var(--breadFont);
}

p {
  line-height: 2.2rem;
}

h1, h2, h3, h4 {
  font-family: var(--mainFont);
  font-weight: 700;
}

h1 {
  margin: 2rem auto 1rem;
  width: 9rem;
  height: 9rem;
  background-image: url(http://via.placeholder.com/90x90);
  background-size: contain;
  background-position: center;
  align-self: center;

  & span {
    display: none;
  }
}

h2 {
  font-size: 10vw;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

label span {
  display: block;
  font-family: var(--mainFont);
  font-weight: 700;
}

input {
  border: none;
  font-size: 1.6rem;
  font-family: var(--breadFont);
}

input:focus {
  outline: none;
}

.textInput input {
  padding: 1rem;
  background-color: white;
  width: 100%;
}

.textInput,.customDropDown a:first-of-type {
  position: relative;
}

.textInput::before, .fakeSelect::before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: .5rem;
  left: 0;
  width: 100%;
  height: .2rem;
  background-color: var(--accentGrey);
}

.btn {
  display: inline-block;
  font-family: var(--mainFont);
  font-weight: 700;
  background-color: var(--btnColor);
  padding: 1.4rem 1rem;
  text-align: center;
  width: 100%;
}

.ghostBtn {
  border: solid .2rem var(--btnColor);
  background-color: transparent;
}

.titleAccent {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.titleAccent::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-color: var(--accentColor);
}

.logo {
  display: block;
  width: 9rem;
  height: 9rem;
  background-image: url(http://via.placeholder.com/90x90);
  background-size: contain;
}

.logo span {
  display: none;
}

.validator {
  font-size: 1.6rem;
  font-family: var(--breadFont);
  font-weight: 400;
}

.error {
  color: red;
}

.okey {
  color: green;
}

.copyWrite {
  text-align: center;
  font-family: var(--mainFont);
  margin: 2rem 0 0;
}

.socialLinks {
  margin-top: 2rem;
  text-align: center;

  & h4 {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  & ul {
    display: flex;
    justify-content: center;
  }

  & ul li a {
    display: block;
    height: 4.4rem;
    width: 4.4rem;
    background-color: var(--accentColor);
    margin-left: 1rem;
  }

  & ul li:first-of-type a {
    margin-left: 0;
  }
}

nav {
  margin-bottom: 1rem;

  & ul {
    padding: 0 1rem;
  }

  & ul li a {
    display: block;
    text-align: center;
    width: 100%;
    font-family: var(--mainFont);
    padding: 1.4rem 1rem;
  }
}

main {
  max-width: 84rem;
  padding: 0 1rem;
}

.sectionHeader {
  margin: 4rem 0 2rem;
}

footer {
  padding: 2rem 1rem;
  background-color: var(--bg2Color);

  & .logo {
    margin: 0 auto;
  }

  & label {
    text-align: center;
  }

  & label span:first-of-type {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  & label input {
    text-align: center;
    width: 100%;
  }

  & .validator {
    margin-bottom: .5rem;
  }
}

.textArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2rem;

  & p {
    margin-bottom: 1rem;
  }

  & header {
    font-family: var(--mainFont);
    margin-bottom: 1rem;
  }

  & header p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  & picture:first-of-type, & .doubleImage, & img:first-of-type {
    order: -1;
    margin-bottom: 1rem;

  }

  & img {
    display: block;
    width: 100%;
  }

}

.textArticle:last-of-type {
  padding-bottom: 0;
}

.imageArticle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;

  & img {
    align-self: flex-start;
    width: 30vw;
    height: 30vw;
    margin-right: 1rem;
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--mainFont);
  }

  & header div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & header p {
    font-size: 1.4rem;
  }

  & header p::before {
    background-color: var(--bg2Color);
  }

  & .tags {
    margin-top: 1rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & li {
    padding: .4rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--accentColor);
  }

  & li:last-of-type {
    margin-right: 0;
  }
}

.newsLetter {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.shareUs {
  margin: 4rem  0;

  & header {
    margin-bottom: 2rem;
  }

  & ul {
    display: flex;
    justify-content: space-around;
    font-family: var(--mainFont);
  }

  & ul li a {
    display: block;
    text-align: center;
  }

  & ul li a::before {
    content: '';
    display: block;
    background-color: red;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
}

.activiteitenFilter {
  background-color: var(--bg2Color);
  padding: 1rem;
  margin-bottom: 1rem;

  & label {
    display: flex;
    align-items: center;
  }

  & label span:first-of-type {
    font-size: 2rem;
    margin-right: 1rem;
  }

  & label .textInput {
    flex: 2;
  }

  & .locAndDate {
    display: flex;
    margin: 1rem 0;
  }

  & .locAndDate label:first-of-type {
    flex: 3;
    margin-right: 1rem;
  }
}

.customDropDown {
  position: relative;

  & .fakeSelect {
    display: block;
    padding: 1rem 1.5rem 1rem 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  & .fakeSelect::before {
    bottom: .4rem;
  }

  & .fakeSelect::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(50% - .4rem);
    right: 0;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid var(--textColor);
  }

  & ul {
    position: absolute;
    z-index: 200;
    top: 100%;
    left: 0;
    background-color: var(--bg2Color);
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
  }

  & .customDropDownOpen {
    max-height: 100vh;
  }

  & ul li a {
    display: block;
    padding: 1.4rem 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  & ul li a:hover {
    background-color: var(--btnColor);
  }

  & .customSelectedItem {
    background-color: var(--accentColor);
  }
}

.activities {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  & header {
    display: flex;
    justify-content: center;
  }

  & header h2 {
    align-self: center;
    text-align: center;
  }
}

.extraInfo {

  & .textArticle {
    padding-bottom: 0;
  }
}

.activityInfo {
  margin-bottom: 4rem;

  & .activityInfoHeader {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 2rem;
  }

  & header h2 {
    grid-column: 1 / -1;
  }

  & header p {
    margin: 1rem 0 .5rem;
    font-family: var(--mainFont);
  }

  & .shareLink {
    font-size: 1.4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & .shareLink ul {
    display: flex;
  }

  & .shareLink ul li a {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    background-color: var(--accentColor);
    margin-right: 1rem;
  }

  & .shareLink ul li:last-of-type a {
    margin-right: 0;
  }

  & img {
    display: block;
    margin: 1rem 0;
  }
}

.doubleArticle img {
  display: none;
}

.address {
  margin-top: 1rem;
  padding-right: 30%;

  & header h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  & address {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  & address span {
    margin-bottom: .4rem;
  }

  & .locName {
    font-size: 2rem;
    font-family: var(--mainFont);
    margin-bottom: .7rem;
  }
}

.praktischeInfo {
  margin-bottom: 2rem;

  & header h3 {
    font-size: 3rem;
  }
}

.filterSuggestions {
  position: absolute;
  z-index: 20;
  background-color: var(--bg2Color);
  width: 100%;
  padding-bottom: 1rem;

  & li a {
    display: block;
    padding: .5rem;
  }

  & li a span:first-of-type {
    font-size: 1.4rem;
  }

  & li a span:last-of-type {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--breadFont);
  }
}

.doubleImage picture:last-of-type img {
  display: none;
}

@media only screen and (min-width: 675px) {

  .mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 12rem;
    background-color: var(--bg2Color);

    & .wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 102.4rem;
      height: 100%;
      margin: 0 auto;
    }

    & h1 {
      margin: 0 0 0 2rem;
    }

    & nav {
      margin: 0;
    }

    & nav ul {
      height: 100%;
      padding-right: 2rem;
      display: flex;
      align-items: center;
    }

    & nav ul li a {
      padding: 1rem;
    }
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  main {
    margin: 10rem auto 0;
    padding: 0 2rem;
  }

  footer {

    & .wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(3, auto);
      padding: 2rem;
      max-width: 84rem;
      margin: 0 auto;
    }

    & .logo {
      margin: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & label, & label input {
      text-align: left;
    }

    & .socialLinks {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    & .copyWrite {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
  }

  .newsLetter {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    & label {
      width: 24rem;
    }

    & label span:first-of-type {
      font-size: 1.4rem;
      margin: 0 0 0 1rem;
    }

    & .btn {
      margin-left: 1rem;
    }
  }

  .btn {
    width: auto;
  }

  .plan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 4rem;

    & .sectionHeader {
      grid-column: 2 / -1;
    }
  }

  .articleDoubleImage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content auto;
    grid-column: 1 / -1;
    grid-column-gap: 4rem;

    & header {
      justify-self: start;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & .info {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }

    & .doubleImage {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      margin: 0;
    }

    & .doubleImage img:first-of-type {
      margin: 0 0 2rem;
    }

    & .doubleImage picture:last-of-type img {
      display: block;
    }
  }

  .reverseArticle {

    & img:first-of-type {
      order: 99;
      margin: 1rem 0 0;
    }
  }

  .defaultArticle {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content auto;
    grid-column-gap: 4rem;

    & header {
      justify-self: start;
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }

    & .info {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
    }

    & img, & picture {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }

  .imageArticle {
    flex-direction: column-reverse;
    align-items: start;

    & header {
      position: relative;
      margin-top: .5rem;
    }

    & picture, & img {
      width: 100%;
      height: auto;
    }
  }

  .activiteitenHolder {

    & a {
      margin-bottom: 2rem;
    }
  }

  .newsSection, .activiteitenHolder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content repeat(3, auto);
    grid-column-gap: 4rem;

    & .sectionHeader {
      display: flex;
      justify-content: center;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      align-self: center;
    }

    & .btn {
      justify-self: center;
      grid-column: 1 / -1;
      grid-row: -2 / -1;
    }
  }

  .shareUs {

    & header {
      text-align: center;
    }
  }

  .activities {

    & .btn {
      margin: 0 auto;
    }
  }

  .activiteitenFilter {
    display: flex;
    align-items: center;

    & label:first-of-type {
      margin-right: 1rem;
      flex: 3;
    }

    & .btn {
      margin-left: 1rem;
      width: 4.4rem;
      height: 4.4rem;
      color: transparent;
    }
  }

  .activityInfo {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem 4rem;
    margin-bottom: 4rem;

    & header {
      grid-column: 1 / -1;
    }

    & header h2 {
      justify-self: start;
    }

    & img {
      margin: 0;
      order: 4;
      width: 100%;
      height: auto;
    }
  }

  .address {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 4rem;
    padding: 0;
    margin: 0;

    & header {
      justify-self: start;
      grid-column: -2 / -1;
      grid-row: 1 / 2;
    }

    & address {
      grid-column: -2 / -1;
      grid-row: 2 / 3;
    }

    & a {
      justify-self: start;
      grid-column: -2 / -1;
      grid-row: 3 / 4;
    }
  }

  .extraInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 4rem;
    margin-bottom: 6rem;
  }

  .websiteLink {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0;
  }
}

@media only screen and (min-width: 840px) {

  .plan {
    grid-template-columns: repeat(3, 1fr);

    & .sectionHeader {
      justify-self: center;
      grid-column: 1 / -1;
      margin-bottom: 0;
    }
  }

  .articleDoubleImage {
    grid-template-columns: repeat(3, 1fr);

    & header {
      justify-self: start;
      grid-column: 2 / 3;
    }

    & .info {
      grid-column: 2 / 3;
    }

    & .doubleImage {
      grid-column: 3 / -1;
    }
  }

  .reverseArticle {
    grid-column: -2 / -1;
  }

  .defaultArticle {
    grid-template-columns: repeat(3, 1fr);

    & header, & .info {
      grid-column: 2 / 3;
    }
  }

  .newsSection {
    grid-template-columns: repeat(3, 1fr);

    & .sectionHeader {
      margin-top: 6rem;
    }
  }

  .shareUs {
    margin-top: 6rem;

    & ul {
      justify-content: center;
      margin: 8rem 0;
    }

    & ul li {
      margin-left: 6rem;
    }

    & ul li:first-of-type {
      margin-left: 0;
    }
  }

  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .newsLetter {
      margin-left: 1rem;
    }

    & .newsLetter label span:first-of-type {
      font-size: 1.6rem;
    }

    & .socialLinks {
      order: 10;
      margin: 0;
    }

    & .socialLinks ul li a {
      width: 3rem;
      height: 3rem;
    }

    & .copyWrite {
      margin: 0 1rem;
      order: 2;
    }
  }

  .activiteitenHolder {
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .activityInfo {
    grid-template-columns: repeat(3, 1fr);

    & .address {
      display: block;
      grid-column: -2 / -1;
      grid-row: 2 / 3;
    }

    & .shareLink ul li a {
      width: 3rem;
      height: 3rem;
    }
  }

  .extraInfo {
    grid-template-columns: repeat(3, 1fr);

    & .defaultArticle {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 2 / -1;
    }

    & .defaultArticle header {
      grid-column: 1 / 2;
    }

    & .defaultArticle img {
      grid-column: -2 / -1;
    }

    & .halfScreen {
      display: flex;
      grid-column: 1 / -1;

      & article:first-of-type {
        margin-right: 4rem;
      }
    }
  }

  .doubleArticle {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 4rem;

    & img {
      display: block;
    }

    & article:first-of-type {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 4rem;

      & header, & p {
        grid-column: 1 / 2;
      }

      & header {
        justify-self: start;
        grid-row: 1 / 2;
      }

      & p {
        grid-row: 2 / -1;
      }

      & img {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
      }
    }
  }

  .praktischeInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 4rem;

    & header, & p, & article {
      grid-column: -3 / -1;
    }

    & header {
      justify-self: start;
      grid-row: 1 / 2;
    }

    & p {
      grid-row: 2 / 3;
    }

    & a {
      grid-row: 3 / 4;
    }

    & article {
      justify-self: start;
      margin: 1rem 0 0;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }

  .activiteitenFilter .btn {
    width: 3rem;
    height: 3rem;
  }
}
